/* CUSTOM CURSOR */
#cursor {
    width: 12px;
    height: 12px;
    background: var(--pp);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease, background 0.3s;
    mix-blend-mode: difference;
}

#cursor-ring {
    width: 40px;
    height: 40px;
    border: 1.5px solid var(--pp);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    transition: transform 0.18s ease, width 0.3s, height 0.3s, border-color 0.3s;
    opacity: 0.6;
}